body{
  margin: 0;
  padding: 0;
}

.gridCols17{
  grid-template-columns: repeat(17, minmax(0, 1fr));
}

.gridRows6{
  grid-template-rows: repeat(6, 1fr);
}

.animate-val-change{
  animation: flash 0.5s ease-in-out;
}

/* create a bg flash animation for numbers the numbers should flash and return to their normal given styles */
@keyframes flash {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #000;
  }
  100% {
    /* background-color: #fff; */
  }
}

.bg-clr{
  background-color: rgba(253, 223, 71, 0.2);
}